<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="barnadsv.unisinos.br.as_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/as_2_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/as_2_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OdontogramaListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OdontogramaDetailActivity"
            android:label="@string/title_odontograma_detail"
            android:parentActivityName=".OdontogramaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="barnadsv.unisinos.br.as_2.OdontogramaListActivity" />
        </activity>
    </application>

</manifest>